@import 'variables';
@import 'templates';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container_header,
.container_footer {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}


/*header white*/

.header {
    padding-top: 50px;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-areas:
        "header__logo header__logo header__nav"
        "header__logo header__logo header__nav__menu__box";

    &__logo {
        grid-area: header__logo;
        display: flex;
    }

    &__logo__svg {
        margin: 0 4px;
        height: 47px;
        width: 21px;
    }

    &__logo__text {
        text-decoration: none;
        font-size: 36px;
        line-height: 44px;
        color: $color_main_regular;
    }

    &__burger {
        display: none;
    }

    &__nav {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
        grid-area: header__nav;
    }

    &__nav__items {
        display: flex;
    }

    &__nav__link {
        text-decoration: none;
        font-size: 12px;
        padding: 5px 7px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 1px;
        color: $color_white;

        &:hover {
            background-color: #FFFFFF33;
            border-radius: 8px;
        }
    }

    &__nav__link_active {
        background-color: $color_accent;
        border-radius: 8px;

        &:hover {
            background-color: $color_accent;
        }
    }

    &__nav__text {
        @extend %link;
        margin: 0 18px;
        position: relative;
        color: $color_white;

        &::after {
            content: '';
            width: 6px;
            height: 6px;
            display: block;
            position: absolute;
            background-color: $color_grey_separator;
            border-radius: 50%;
            top: 7.5px;
            right: -11px;
        }

        &::before {
            content: '';
            width: 6px;
            height: 6px;
            display: block;
            position: absolute;
            background-color: $color_grey_separator;
            border-radius: 50%;
            top: 7.5px;
            left: -13px;
        }
    }

    &__nav__number {
        @extend %font_2;
        text-decoration: none;
        color: $color_white;
        position: relative;
        margin-right: 18px;

        &::after {
            content: '';
            width: 6px;
            height: 6px;
            display: block;
            position: absolute;
            background-color: $color_grey_separator;
            border-radius: 50%;
            top: 7.5px;
            right: -11px;
        }
    }

    &__nav__facebook:hover .header__nav__facebook_fill {
        fill: $color_accent;
        transition: 0.3s;
    }

    &__nav__menu__box {
        grid-area: header__nav__menu__box;
    }

    &__nav__menu__button {
        display: none;
    }

    &__nav__menu__items {
        justify-content: flex-end;
        display: flex;
        grid-area: header__nav__menu__items;
    }

    &__nav__menu__item {
        margin-left: 15px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__nav__menu__link {
        @extend %font_2;
        color: $color_white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }

    &__nav__menu__link_active {
        text-decoration: underline;
        color: $color_accent;
        text-underline-offset: 3px;
    }
}
 //header grey//
.header {
    &__nav__link_info {
        color: $color_grey_text;

        &:hover {
            background-color: $color_grey_bg;
        }s

        &_active {
            color: $color_white;
            
            &:hover {
                background-color: $color_accent;
            }
        }
    }

    &__nav__text_info {
        color: $color_grey_text;
    }

    &__nav__number_info {
        color: $color_grey_text;
    }

    &__nav__menu__link_info {
        color: $color_active_regular;
    }

    &__nav__menu__link_active  {
        color: $color_accent;
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

.footer {
    background-color: $color_grey_bg;

    &__box {
        border-top: 2px solid $color_grey_separator;
        padding: 30px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "footer__location footer__copy"
            "footer__contact footer__contact";
    }

    &__box_border {
        border: none;
    }

    &__location {
        grid-area: footer__location;
        align-items: center;
        display: flex;
        margin-bottom: 21px;
    }

    &__text {
        @extend %link;
        position: relative;
        margin-right: 26px;
        color: $color_main_regular;

        &::after {
            content: '';
            width: 6px;
            height: 6px;
            display: block;
            position: absolute;
            background-color: $color_grey_text;
            border-radius: 50%;
            top: 7.5px;
            right: -16px;
        }
    }

    &__link {
        @extend %font_1;
        color: $color_active_regular;
        text-decoration: none;
    }

    &__contact {
        display: flex;
        grid-area: footer__contact;
        align-items: center;
    }

    &__number {
        @extend %font_2;
        position: relative;
        color: $color_main_alt;
        text-decoration: none;
        margin: 0 26px;

        &::before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            display: block;
            background-color:$color_grey_text;
            border-radius: 50%;
            top: 7.5px;
            left: -16px;
        }

        &::after {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            display: block;
            background-color: $color_grey_text;
            border-radius: 50%;
            top: 7.5px;
            right: -16px;
        }
    }

    &__facebook:hover .footer__facebook_fill {
        fill: $color_accent;
        transition: 0.3s;
    }

    &__email {
        @extend %font_2;
        text-decoration: none;
        color: $color_active_regular;

        &:hover {
            color: $color_accent;
            transition: 0.3s;
        }
    }

    &__copy {
        display: flex;
        justify-content: flex-end;
        grid-area: footer__copy;
        @extend %link;
        color: $color_grey_text;
    }
}

@media (max-width: 1919px) {
    .container_header {
        padding: 0 60px;
    }

    .container_footer {
        padding: 0 60px;
    }
}

@media (max-width: 1023px) {
    .container_header {
        padding: 0;
    }

    .container_footer {
        padding: 0 60px;
    }

    .header {
        margin-left: 60px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header__nav"
            "header__logo"
            "header__nav__menu__box";

        &__nav {
            justify-content: flex-start;
            margin-bottom: 30px;
        }

        &__nav__menu__items {
            justify-content: flex-start;
        }

        &__logo {
            margin-bottom: 30px;
        }

        &__nav__menu__item {
            margin-left: 0;
            margin-right: 15px;
        }
    }
}

@media (max-width: 767px) {
    body {
        min-width: 375px;
    }

    .container_footer {
        padding: 0 30px;
    }

    .header {
        margin-left: 0;
        padding-top: 0;
        display: grid;
        grid-template-areas:
            "header__nav header__nav"
            "header__logo header__burger";

        &__logo {
            margin-left: 15px;
            display: flex;
        }

        &__logo_img {
            width: 70px;
        }

        &__logo__svg {
            width: 11.62px;
            height: 26px;
        }

        &__logo__text {
            font-size: 20px;
            line-height: 24px;
        }

        &__nav {
            background-color: #F5F5FA33;
            display: flex;
            justify-content: space-between;
            padding: 15px;
            margin-bottom: 15px;
        }

        &__nav_info {
            background-color: $color_grey_bg;
        }

        &__nav__text {
            display: none;
        }

        &__nav__number {
            margin: 0;

            &::after {
                display: none;
            }
        }

        &__nav__facebook {
            display: none;
        }

        &__nav__menu__box {
            background-color: $color_white;
            position: fixed;

            padding: 64px 12px 12px 12px;
            border-radius: 12px 12px 0px 0px;
            display: none;
            bottom: 0;
            left: 8px;
            right: 8px;
            
        }

        &__nav__menu__box_open {
            display: block;
        }

        &__nav__menu__button {
            display: block;
            background-color: transparent;
            width: 32px;
            height: 32px;
            border: none;
            padding: 0;
            position: absolute;
            top: 19px;
            right: 19px;
            cursor: pointer;

            &:hover {
                background-color: $color_grey_separator;
                border-radius: 8px;
            }
        }

        &__nav__menu__items {
            flex-direction: column;
        }

        &__nav__menu__item {
            background-color: $color_grey_bg;
            text-align: center;
            padding: 7px 0;
            border-radius: 12px;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            &:active {
                background-color: $color_grey_separator;
            }
        }

        &__nav__menu__link {
            display: block;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            color:$color_active_regular;

            &:hover {
                text-decoration: none;
            }
        }

        &__nav__menu__link_active {
            text-decoration: none;
            color: $color_accent;
        }

        &__burger {
            margin-left: auto;
            margin-right: 15px;
            background-color: transparent;
            display: block;
            border: none;
            padding: 0;
            width: 32px;
            height: 32px;
            cursor: pointer;


            &:active {
                background-color: $color_grey_separator;
                border-radius: 8px;
            }
        }
    }

    .footer {
        &__box {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        &__location {
            flex-direction: column;
        }

        &__text {
            margin-bottom: 10px;
            margin-right: 0;

            &::after {
                display: none;
            }
        }

        &__contact {
            flex-direction: column;
            margin-bottom: 30px;
        }

        &__facebook {
            margin-bottom: 10px;
        }

        &__number {
            margin-bottom: 10px;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }
    }
}
