@import 'variables';
@import 'templates';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container_header {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.team {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__desc {
        @extend %font_3;
        background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 60px;
        padding: 0 120px;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
    }

    &__card {
        display: flex;
        flex-direction: column;
    }

    &__card__pic {
        width: 493.33px;
        height: 400px;
        object-fit: cover;
        border-radius: 12px;
        margin-bottom: 15px;
    }

    &__card__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-decoration: none;
    }

    &__card__box:hover .team__card__svg_background{
        fill: $color_beige_4;
        transition: 0.3s;
    }

    &__card__box:hover .team__card__svg_arrow{
        stroke: $color_crimson;
        transition: 0.3s;
    }
    
    &__card__box:hover .team__card__name{
        color: $color_crimson;
        transition: 0.3s;
    }

    &__card__name {
        @extend %font_2;
        color: $color_dark_1;
    }

    &__card__post {
        @extend %font_4;
        color: $color_beige_2;
        margin-top: -10px;
    }
}

