$color_white: #FFFFFF; 
$color_main_regular: #323264;
$color_main_alt: #46466E;

$color_accent: #F0145A;
$color_active_regular: #24A3FF;

$color_grey_text: #B3B3BA;
$color_grey_separator: #E6E6F0;
$color_grey_bg: #F5F5FA;
$color_grey_bg_alt: #EDEDF7;


