$color_dark_1: #323264; 
$color_dark_2: #46466E;
$color_crimson: #F0145A;
$color_white: #FFFFFF; 
$color_active_blue: #24A3FF; 
$color_beige_1: #F5F5FA;
$color_beige_2: #B3B3BA; 
$color_beige_3: #E6E6F0; 
$color_beige_4: #EDEDF7;